<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment Gate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="form-style-5">
        <form method="POST" action="/payment">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <fieldset>
        <legend><span class="number">1</span> Thông tin khách hàng</legend>
        <input type="text" name="field1" placeholder="Your Name *">
        <input type="text" name="field2" placeholder="Your Phone Number *">
        <textarea name="field3" placeholder="About yourself"></textarea>
            
        </fieldset>
        <fieldset>
        <legend><span class="number">2</span> Thông tin đơn hàng</legend>
        <label for="job">Tên sách : Học làm người</label>
        </fieldset>
        <fieldset>
        <div class="row">
            <label class="col-4" for="job">Số lượng</label>
            <input class='col-2' type="number" name="field3">
        </div>
        </fieldset>
        <label for="job"></label>
        <legend>Số tiền:</legend>
        <input type="number" name="amount" required>
        <input type="submit" value="Thanh Toán" />
        </form>
        </div>
</body>
</html>